sentence-transformers
langchain==0.2.13
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
langchain-google-genai
google-generativeai
-e.